[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/restore-position"]
	path = bundle/restore-position
	url = https://github.com/now/vim-restore-position.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git@github.com:cespare/vim-markdown.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/bclose"]
	path = bundle/bclose
	url = git@github.com:cespare/vim-bclose.git
[submodule "bundle/actionscript-syntax"]
	path = bundle/actionscript-syntax
	url = https://github.com/vim-scripts/actionscript.vim--Cuss.git
[submodule "bundle/zenburn-theme"]
	path = bundle/zenburn-theme
	url = git://github.com/cespare/zenburn.git
[submodule "bundle/indent-object"]
	path = bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/javaimp"]
	path = bundle/javaimp
	url = https://github.com/vim-scripts/javaimp.vim.git
[submodule "bundle/r.vim"]
	path = bundle/r.vim
	url = git@github.com:cespare/Vim-R-plugin.git
[submodule "bundle/lucius-theme"]
	path = bundle/lucius-theme
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/coffeescript"]
	path = bundle/coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/mxml-syntax"]
	path = bundle/mxml-syntax
	url = git@github.com:cespare/mxml.vim.git
[submodule "bundle/dtd-syntax"]
	path = bundle/dtd-syntax
	url = git@github.com:cespare/dtd.vim.git
[submodule "bundle/xterm-color-table"]
	path = bundle/xterm-color-table
	url = https://github.com/vim-scripts/xterm-color-table.vim.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/cespare-snippets"]
	path = bundle/cespare-snippets
	url = git@github.com:cespare/cespare-snippets.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/align"]
	path = bundle/align
	url = git@github.com:cespare/vim-align.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vidir-ls"]
	path = bundle/vidir-ls
	url = https://github.com/trapd00r/vim-syntax-vidir-ls.git
[submodule "bundle/less"]
	path = bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git@github.com:cespare/scala-vim-support.git
[submodule "bundle/sbd"]
	path = bundle/sbd
	url = git@github.com:cespare/vim-sbd.git
[submodule "bundle/nginx"]
	path = bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/corntrace/bufexplorer.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/indent-guides"]
	path = bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/golang"]
	path = bundle/golang
	url = git@github.com:cespare/vim-golang.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git@github.com:cespare/vim-endwise.git
[submodule "bundle/insertlessly"]
	path = bundle/insertlessly
	url = git://github.com/dahu/Insertlessly.git
[submodule "bundle/go-templates"]
	path = bundle/go-templates
	url = git@github.com:cespare/vim-go-templates.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = git@github.com:cespare/vim-stylus.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/toml"]
	path = bundle/toml
	url = git@github.com:cespare/vim-toml.git
[submodule "bundle/ragel"]
	path = bundle/ragel
	url = git@github.com:jayferd/ragel.vim.git
[submodule "bundle/octave"]
	path = bundle/octave
	url = git@github.com:vim-scripts/octave.vim--.git
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = https://github.com/tpope/vim-liquid
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/clojure-static"]
	path = bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/yaml"]
	path = bundle/yaml
	url = https://github.com/avakhov/vim-yaml.git
[submodule "bundle/nimrod"]
	path = bundle/nimrod
	url = git://github.com/zah/nimrod.vim.git
